.paiCard{
    display: grid;
  
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    
    grid-template-columns: repeat(4, 1fr);
    
    grid-gap: 20px;
    
}
.geralCard{
display: grid;
align-items: center;
justify-content: center;
width: 15rem;
font-size: 8pt;

margin: 2rem;
}
.fotoeTitulo{
    display: grid;
    width: max-content;
    border: solid 6px rgb(0, 0, 0);
    color: rgb(75, 78, 78);
    text-align: center;
    border-radius: 6%;
    background-color: rgb(255, 255, 255);
    object-fit: cover;
}
.fotoeTitulo:hover{
    display: grid;
    width: max-content;
    object-fit: cover;
    border: solid 6px yellow;
    color: white;
    text-align: center;
    transition: 1s;
   background-color: black;
}
.imgCard{
    width: max-content;
}
.tituloCard{
    text-align: center;
font-size: 14px;

}
.Img{
    width: 12rem;
    filter: grayscale(80%);
}
.Img:hover{
    width: 11rem;
    filter: grayscale(0%);
    transition: 1.5s;
}
