.paiCard{
    display: grid;
  
    width: 100%;
   
    margin: 0 auto;
    
    grid-template-columns: repeat(4, 1fr);
    
    grid-gap: 20px;
    background: linear-gradient(270deg, #021231, #2f043b, #050a4d, #021b19, #030116);
    background-size: 1000% 1000%;

    -webkit-animation: AnimationName 29s ease infinite;
    -moz-animation: AnimationName 29s ease infinite;
    -o-animation: AnimationName 29s ease infinite;
    animation: AnimationName 29s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 99%}
    50%{background-position:100% 2%}
    100%{background-position:0% 99%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 99%}
    50%{background-position:100% 2%}
    100%{background-position:0% 99%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 99%}
    50%{background-position:100% 2%}
    100%{background-position:0% 99%}
}
@keyframes AnimationName {
    0%{background-position:0% 99%}
    50%{background-position:100% 2%}
    100%{background-position:0% 99%}
}
    

.geralCard{
display: grid;
align-items: center;
justify-content: center;
width: 15rem;
font-size: 8pt;

margin: 2rem;
}
.fotoeTitulo{
    display: grid;
    width: max-content;
    border: solid 6px rgb(0, 0, 0);
    color: rgb(75, 78, 78);
    text-align: center;
    border-radius: 6%;
    background-color: rgb(255, 255, 255);
    object-fit: cover;
}
.fotoeTitulo:hover{
    display: grid;
    width: max-content;
    object-fit: cover;
    border: solid 6px yellow;
    color: white;
    text-align: center;
    transition: 1s;
   background-color: black;
}
.imgCard{
    width: max-content;
}
.tituloCard{
    text-align: center;
font-size: 14px;

}
.Img{
    width: 12rem;
    filter: grayscale(80%);
}
.Img:hover{
    width: 11rem;
    filter: grayscale(0%);
    transition: 1.5s;
}
