.geral_Cadastro{
    border: solid pink;
    display: flex;
    justify-content: center;
    align-content: center;
}

.container_cadastro{
    display: flex;
    flex-direction: column;
    width: 80vw;
    border: solid ;

}
.bloco{
    border: solid 2px red;
    margin-left: 10%;
    padding: 8px;
   
}